<div class="section group">
    <div class="col span_7_of_10">
        <div class="box orange">
            <div class="title">
                <h4><i class="icon-circle-arrow-right"></i><span>Actions</span> </h4>
            </div>
            <div class="content">
                <div class="group">
                    <div class="fieldgroup">
                        <label for="ddlClearanceReason">Reason for Clearance</label>
                        <select id="ddlClearanceReason" class="chzn-select">
                            <option>Choose a clearance reason...</option>
                            <option>Back to Drafting</option>
                            <option>Submit for Closeout</option>
                        </select>
                    </div>
                    <div class="fieldgroup">
                        <label for="txtClearanceComment">Comments</label>
                        <textarea id="txtClearanceComment" class="draftcomment"></textarea>
                    </div>
                </div>
                <input type="submit" value="Submit" data-bind="click:OnSubmit"></input>

                <div class="group">
                    <div id="detailsbox" class="ct-accordion" data-bind="AccordianHandler: {}">
                        <h3>Details</h3>
                        <div>
                            <div class="group">
                                <div class="fieldgroup">
                                    <label for="txtDueDate">Due Date</label>
                                    <input id="txtDueDate" type="text" />
                                </div>
                                <div class="fieldgroup">
                                    <label for="txtRelatedCase">Related Case Number</label>
                                    <input id="txtRelatedCase" type="text" />
                                </div>
                                <div class="fieldgroup">
                                    <label for="txtTags">Tags</label>
                                    <input id="txtTags" type="text" /><a class="btn btn-input-field" title=" Choose Term "><i class="icon-tags"></i></a>
                                </div>
                            </div>
                            <input type="submit" value="Submit"></input>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div id="closeoutbox" class="ct-accordion halfwidth floatleft" data-bind="AccordianHandler: {}">
                        <h3>Closeout</h3>
                        <div>
                            <div class="group">
                                <div class="fieldgroup">
                                    <label for="ddlCloseoutReason">Reason for Closeout</label>
                                    <select id="ddlCloseoutReason" class="chzn-select">
                                        <option>Choose a closeout reason...</option>
                                    </select>
                                </div>
                                <div class="fieldgroup">
                                    <label for="txtCloseoutComment">Comments</label>
                                    <textarea id="txtCloseoutComment"></textarea>
                                </div>
                            </div>
                            <input type="submit" value="Closeout"></input>
                        </div>
                    </div>
                    <div id="finaldocbox" class="ct-accordion halfwidth floatright" data-bind="AccordianHandler: {}">
                        <h3>Final Documents</h3>
                        <div>
                            <div class="group">
                                <div class="fieldgroup">
                                    <label for="fileUploadFinal">Upload Final Document</label>
                                    <input type="text" class="file_input_textbox" readonly value='No File Selected'>
                                    <div class="file_input_div">
                                        <input type="button" value="Browse" class="file_input_button" />
                                        <input type="file" id="fileUploadFinal" class="file_input_hidden" />
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Submit Final Document"></input>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div id="auditlogbox" class="ct-accordion halfwidth floatleft" data-bind="AccordianHandler: {}">
                        <h3>Audit Log</h3>
                        <div>
                            <div class="group">
                                <p>Audit log goes here.</p>
                            </div>
                        </div>
                    </div>
                    <div id="deletecasebox" class="ct-accordion halfwidth floatright" data-bind="AccordianHandler: {}">
                        <h3>Delete Case</h3>
                        <div>
                            <input type="submit" value="Delete Case" onclick="return confirm('Are you sure you want to delete this case?')"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box blue">
            <div class="title">
                <h4><i class="icon-list"></i><span>Correspondence Log</span> </h4>
            </div>
            <div class="content">
                <div class="group">
                    <div class="ct-accordion ct-log" data-bind="AccordianHandler: {}">
                        <h3>Clearance</h3>
                        <div>
                            <div class="actionlog group">
                                <div class="actionuser">Smith, Gary</div>
                                <div class="actiondesc">Submitted for Clearance</div>
                                <div class="actiondate">5/17/2013 12:58pm</div>
                            </div>
                            <div class="ct-accordion alternate" data-bind="AccordianHandler: {}">
                                <h3>Comments (1)</h3>
                                <div>
                                    <div class="ct-accordion ct-comments" data-bind="AccordianHandler: {}">
                                        <h3>Smith, Gary <span class="ct-comments-date">5/17/2013 12:58pm</span></h3>
                                        <div>
                                            <p>This document is approved for clearance.</p>
                                        </div>
                                    </div>
                                    <div class="ct-comment-reply-box group">
                                        <label for="txtComment1" class="hidden">Comments</label>
                                        <textarea id="txtComment1" class="ct-comment-textarea"></textarea>
                                        <input type="submit" value="Post Reply"></input>
                                        <input type="submit" value="Start New Discussion"></input>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="ct-accordion ct-log" data-bind="AccordianHandler: {}">
                        <h3>Drafting</h3>
                        <div>
                            <div class="actionlog group">
                                <div class="actionuser">Doe, Jane</div>
                                <div class="actiondesc">Uploaded Draft for Review</div>
                                <div class="actiondate">5/11/2013 10:17am</div>
                            </div>
                            <div class="ct-accordion alternate" data-bind="AccordianHandler: {}">
                                <h3>Comments (5)</h3>
                                <div>
                                    <div class="ct-accordion ct-comments" data-bind="AccordianHandler: {}">
                                        <h3>Doe, Jane <span class="ct-comments-date">5/11/2013 10:17am</span></h3>
                                        <div>
                                            <p>Please review the draft I uploaded.</p>
                                            <div class="ct-accordion ct-comments" data-bind="AccordianHandler: {}">
                                                <h3>Doe, Jane <span class="ct-comments-date">5/11/2013 2:22pm</span></h3>
                                                <div>
                                                    <p>I edited the draft.  Please take a look at it again.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ct-accordion ct-comments" data-bind="AccordianHandler: {}">
                                        <h3>Smith, Gary <span class="ct-comments-date">5/14/2013 4:29pm</span></h3>
                                        <div>
                                            <p>This document needed work. I have provided a few revisions.</p>
                                            <div class="ct-accordion ct-comments" data-bind="AccordianHandler: {}">
                                                <h3>Doe, Jane <span class="ct-comments-date">5/15/2013 1:36pm</span></h3>
                                                <div>
                                                    <p>Thanks for the edits. Is it ready for clearance?</p>
                                                </div>
                                            </div>
                                            <div class="ct-accordion ct-comments" data-bind="AccordianHandler: {}">
                                                <h3>Smith, Gary <span class="ct-comments-date">5/16/2013 5:21pm</span></h3>
                                                <div>
                                                    <p>I will do a final review before submitting for clearance.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ct-comment-reply-box group">
                                        <label for="txtComment2" class="hidden">Comments</label>
                                        <textarea id="txtComment2" class="ct-comment-textarea"></textarea>
                                        <input type="submit" value="Post Reply"></input>
                                        <input type="submit" value="Start New Discussion"></input>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col span_3_of_10">
        <div class="box">
            <div data-bind="compose: { model: 'viewmodels/documentsPartial', view: 'views/documentsPartial.html', activate: true }"></div>
        </div>
        <div class="box green">
            <div data-bind="compose: { model: 'viewmodels/participantsPartial', view: 'views/participantsPartial.html', activate: true }"></div>
        </div>
    </div>

</div>
