<div class="section group">
    <div class="col span_2_of_10">
        <div class="box orange">
            <div class="title">
                <h4><i class="icon-circle-arrow-right"></i><span>Actions</span> </h4>
            </div>
            <div class="content">
                <input type="button" data-bind="click: loadInitiation" value="Start a Correspondence" />
                <br />
                <input type="button" value="Search" data-bind="click: Search" />
            </div>
        </div>
    </div>
    <div class="col span_8_of_10">
        <div class="box blue">
            <div class="title">
                <h4><i class="icon-list-alt"></i><span>My Cases</span> </h4>
            </div>

            <div class="content">
                <div class="filters">
                    <span class="filter-heading">Filter By:</span>
                    <label for="txtKeyword" class="hidden">Keyword</label>
                    <input id="txtKeyword" type="text" placeholder="--Keyword--" data-bind="value: FilterByKeyword" />
                    <label for="ddlCaseStatus" class="hidden">Status</label>

                    <select id="ddlCaseStatus" data-bind='options: CaseStatusList, optionsText: function (item) {
    return item.Name;
}, optionsValue: function (item) {
    return item.Value;
}, optionsCaption: "--Status--", value: SelectedCaseStatus'>
                    </select>
                    <input type="button" value="Apply" data-bind="click: ApplyFilter"></input>
                </div>
                <br class="breaker" />
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Case Number </th>
                            <th>Case Name </th>
                            <th>Document Type </th>
                            <th>Status </th>
                            <th>Due Date </th>
                            <th>Actions </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Cases">
                        <tr>
                            <td data-bind="text: caseNumber()"></td>
                            <td data-bind="text: caseName()"></td>
                            <td data-bind="text: documentType()"></td>
                            <td data-bind="text: status()"></td>
                            <td data-bind="text: responseDate()"></td>
                            <td>
                                <div class="btn-group"><a class="btn btn-small" title=" View " data-bind="click: $parent.LoadStatusPage"><i class="icon-arrow-right"></i></a><a class="btn  btn-small" title="Remove"><i class="icon-remove "></i></a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <!--<pre data-bind="text: JSON.stringify(ko.toJS(GridPages), null, 2)"></pre>-->
                    <ul>
                        <li><a href="#" data-bind="click:PreviousPage">Prev</a></li>
                    </ul>
                    <ul data-bind="foreach: GridPages">
                        <li data-bind="attr: { 'class': IsActive() ? 'active' : '' }">

                            <a href="#" data-bind="    click: $parent.OnPageChangeclicked"><span data-bind="    text: PageNo" /></a></li>
                        <!-- <li><a href="#">2</a></li>-->
                    </ul>
                    <ul>
                        <li><a href="#" data-bind="click:NextPage">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

